@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    background-color: black;
}


.vk-white {
    color: white;
}

nav {
    padding: 0 68px;
}

nav > ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;

    line-height: 27px;

}

nav > ul > li {
    padding: 15px;
}

.img-main {
    width: 100%;
    padding-bottom: 40px;
}

.instagram-pics {
padding-left: 5px;
margin-left: 5px;
}

.ig-pic {
margin: 2px;
width: calc(25% - 15px);
}

main {
    border: 1px;
}
/* .ig-pic:hover {
    zoom: 1%;
} */

.button-p-insta {
    text-align: center;
}

.button-insta {
    border-radius: 5px;
    font-size: 13px;
    padding: 7px 14px;
    background-color: #333333;
    color: white;
    border: none;
    letter-spacing: -1px;
}

.v-p1 {
    text-align: center;
    padding-top: 50px;
    height: 32px;
}

.v-h1 {
    color: white;
    size: 30px;
}

.videos-p1 {
    text-align: center;
    padding-top: 45px;
    /* display: inline; */
}

.video {
    padding: 10px;
    display: inline;
}

.video-small {
    vertical-align: top;

}

.button-youtube {
    font-size: 13px;
    padding: 15px 35px;
    color: white;
    background-color: black;
    border: 2px solid white;
    letter-spacing: 0px;
    
}

.merch-store {
    margin-top: 50px;
    background-color: white;
}

.merch {
    width: 100%;
}

.merch-h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

.merch-scroll {
    padding-left: 45%;
    padding-right: 45%;
}

.button-store {
    font-size: 13px;
    padding: 5px 23px;
    color: black;
    background-color: white;
    border: 1px solid black;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.latest-tats {
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 60px;
}

.hr {
    text-align: center;
    width: 1%;
    color: white;
}

.form-p {
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;

}

form {
    color:white;
    border: 1px solid white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: left;
    padding: 10px;
    padding-bottom: 15px;
}

form > p {
    margin: 5px;
    font-size: 13px;
    
}

form > input {
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

form > i {
    font-size: 20px;
}

.button-mailing-list {
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    background-color: white;
    color: black;
    border: none;
    letter-spacing: -1px;
    float: right;
}